
.pacifico {
    font-family: 'Pacifico', cursive;
}

.nova-flat { 
    font-family: 'Nova Flat', cursive;
}

.gravitas-one {
    font-family: 'Gravitas One', cursive;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.lobster {
    font-family: 'Lobster', cursive;
}

.text-large {
    font-size: 275%;
}

.text-medium {
    font-size: 120%;
}

.text-small {
    font-size: 75%;
}

.no-link {
    text-decoration: none;
}
