@media print{
    .no-print{
        display:none;
    }

    body {
        font-size: 12pt;
    }

    .text-large {
        font-size: 2.5em;
    }

    print-page-break {
        display: block;
        page-break-after: always;
    }
 }

 print-page-break {
     display: none;
 }