@media print{
  .no-print{
      display:none;
  }

  body {
      font-size: 12pt;
  }

  .text-large {
      font-size: 250%;
  }

  .text-light-gray, .text-gray, .name {
      color: rgb(25, 25, 25);
  }
}