subsection {
    page-break-inside: avoid;
    display: flex;
    padding: 0 5px;
}

subsection roles {
    flex: 5;
    display: flex;
    flex-direction: column;
    margin-bottom: .5ex;
}

subsection roles role {
    font-family: 'Nova Flat', cursive;
    font-weight: bold;
}

subsection role dates {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: normal;
}

subsection company {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

subsection company name {
    font-family: 'Nova Flat', cursive;
    font-weight: bold;
    text-align: right;
}

subsection company location,
subsection company overalldates {
    font-style: italic;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}

subsection company overalldates {
    font-size: 75%;
}

responsibilities ul {
    margin: 0;
}

@media only screen and (max-width: 992px) {
    subsection {
        flex-direction: column-reverse;
    }
    subsection roles {
        margin-bottom: .5ex;
    }
    subsection company {
        align-items: flex-start;
    }
}